# Environments
venv/
.venv/
Scripts/

# Dataset (too large for git)
dataset/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd

# OS files
.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
